<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Abot</title>
    <link rel="icon" href="startbootstrap-new-age-gh-pages/img/stellar-rocket.png">
    <!-- Bootstrap core CSS -->
    <link href="startbootstrap-new-age-gh-pages/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="startbootstrap-new-age-gh-pages/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="startbootstrap-new-age-gh-pages/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="startbootstrap-new-age-gh-pages/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="startbootstrap-new-age-gh-pages/css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Abot</a>
        <a th:href="@{${#httpServletRequest.getAttribute('javax.servlet.forward.request_uri')}(locale='en')}">EN</a>|<a th:href="@{${#httpServletRequest.getAttribute('javax.servlet.forward.request_uri')}(locale='zh')}">中文</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#qq">QQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#telegram">Telegram</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5" th:text="#{header.introduce}">Abot是一个在监听恒星网络且在即时通讯软件里面工作的机器人。你可以添加Abot作为好友来获取关于您的账号变动提醒，包括转账、收款、挂单、成交等等变动。</h1>
              <a href="#qq" class="btn btn-outline btn-xl js-scroll-trigger" th:text="#{header.buttom}">立刻免费使用！</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="startbootstrap-new-age-gh-pages/img/The-Next-Coin-To-Break-Into-Top-10-emptybucket.co_.uk_.png" style="width:286px;height:509px;" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

<!--    <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h2 class="section-heading">Discover what all the buzz is about!</h2>
            <p>Our app is available on any mobile device! Download now to get started!</p>
            <div class="badges">
              <a class="badge-link" href="#"><img src="img/google-play-badge.svg" alt=""></a>
              <a class="badge-link" href="#"><img src="img/app-store-badge.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </section>-->

    <section class="features bg-light" id="qq">
      <div class="container">
        <div class="section-heading text-center">
          <h2 th:text="#{qq.title}">在QQ中使用Abot</h2>
          <p class="text-muted" th:text="#{subtitle}">仅需3步！</p>
          <hr>
        </div>
        <div class="row">

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">

                    <h3 th:text="#{step1.title}">步骤1</h3>
                    <p class="text-muted" th:text="#{qq.step1}">在QQ上添加Abot（3269075003）为好友</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">

                    <h3 th:text="#{step2.title}">步骤2</h3>
                    <p class="text-muted" th:text="#{qq.step2}">Abot通过你的好友申请后，发送你的恒星账号给Abot来获取你的账户变动提醒，如果绑定恒星账号成功，Abot会回复绑定成功</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="feature-item">

                    <h3 th:text="#{step3.title}">步骤3</h3>
                    <p class="text-muted" th:text="#{qq.step3}">就这样，如果你的账户有转账或者挂单（撤单）或者成交之类的变动，Abot将会在QQ上提醒你</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="features bg-primary text-dark" id="telegram">
      <div class="container">
        <div class="section-heading text-center">
          <h2 th:text="#{telegram.title}">在Telegram中使用Abot</h2>
          <p th:text="#{subtitle}">仅需3步！</p>
          <hr>
        </div>
        <div class="row">

          <div class="col-lg-12 my-auto">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-6">
                  <div class="feature-item">

                    <h3 th:text="#{step1.title}">步骤1</h3>
                    <p th:utext="#{telegram.step1}">在Telegram上添加<a href="https://t.me/stellar_alert_bot" rel="nofollow">Abot</a>为你的好友</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="feature-item">

                    <h3 th:text="#{step2.title}">步骤2</h3>
                    <p th:text="#{telegram.step2}">发送你的恒星账号给Abot来获取你的账户变动提醒，如果绑定恒星账号成功，Abot会回复绑定成功</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="feature-item">

                    <h3 th:text="#{step3.title}">步骤3</h3>
                    <p th:text="#{telegram.step3}">就这样，如果你的账户有转账或者挂单（撤单）或者成交之类的变动，Abot将会在QQ上提醒你</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

<!--    <section class="cta">
      <div class="cta-content">
        <div class="container">
          <h2>Stop waiting.<br>Start building.</h2>
          <a href="#contact" class="btn btn-outline btn-xl js-scroll-trigger">Let's Get Started!</a>
        </div>
      </div>
      <div class="overlay"></div>
    </section>-->

<!--    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We
          <i class="fa fa-heart"></i>
          new friends!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>-->

    <footer>
      <div class="container">
        <p>&copy; Abot 2018. All Rights Reserved.</p>
        <!--<ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>-->
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="startbootstrap-new-age-gh-pages/vendor/jquery/jquery.min.js"></script>
    <script src="startbootstrap-new-age-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="startbootstrap-new-age-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="startbootstrap-new-age-gh-pages/js/new-age.min.js"></script>

  </body>

</html>
